# In class practice with Pandas & Scipy Libraries

Import the libraries

In [2]:
import os

In [3]:
import pandas as pd

In [4]:
from scipy import stats

In [5]:
import re

hello world

## Working with pandas

How to importa a tab-delimited text data file. The file is in the same directory at the jupyter notebook.

In [6]:
data=pd.read_csv('hist_taxa_treat.txt', sep='\t', index_col=False, low_memory=False)

How to use pandas to assign data from the dataset to a variable.

In [7]:
lacto=data.loc[(data['Species']=='Lactobacillus')]
x=lacto['Abundance']
print('lactos')
print(x)

lactos
0     0.063575
1     0.030630
2     0.026108
3     0.058233
4     0.092633
        ...
84    0.003580
85    0.016010
86    0.044609
87    0.007296
88    0.003000
Name: Abundance, Length: 89, dtype: float64

In [8]:
para=data.loc[(data['Species']=='Parabacteroides')]
#print(para)
y=para['Abundance']
print('paras')
print(y)

paras
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64

## Working with Scipy statistic methods

In [9]:
tt_out=stats.ttest_ind(x,y)
print(tt_out)

TtestResult(statistic=7.288016524628964, pvalue=1.0200357215755368e-11, df=176.0)

## Exercises

PRINT HEAD AND TAIL OF data

In [14]:
# This prints out the first 4 records of the data dataframe
print(data.head())

print("---------------------------------------------------------------")
# this prints out the last records of the data dataframe
print(data.tail())

  SampleID Treatment  Time        Species  Abundance  Unnamed: 5 X.SampleID  \
0    CC01A   Control   0.0  Lactobacillus   0.063575         NaN      CC01A
1    CC01B   Control   1.0  Lactobacillus   0.030630         NaN      CC01B
2    CC01C   Control   2.0  Lactobacillus   0.026108         NaN      CC01C
3    CC01D   Control   3.0  Lactobacillus   0.058233         NaN      CC01D
4    CC02A   Control   0.0  Lactobacillus   0.092633         NaN      CC02A

   Time.1  Treatment.1      Species.1  Abundance.1
0     0.0          1.0  Lactobacillus       1430.0
1     1.0          1.0  Lactobacillus        379.0
2     2.0          1.0  Lactobacillus        386.0
3     3.0          1.0  Lactobacillus       1193.0
4     0.0          1.0  Lactobacillus       2455.0
---------------------------------------------------------------
     SampleID  Treatment  Time              Species  Abundance  Unnamed: 5  \
1330    CC23C  Treatment   NaN  Desulfovibrionaceae   0.000000         NaN
1331    CC23D  Treatment   NaN  Desulfovibrionaceae   0.000000         NaN
1332    CC24A  Treatment   NaN  Desulfovibrionaceae   0.000203         NaN
1333    CC24B  Treatment   NaN  Desulfovibrionaceae   0.000063         NaN
1334    CC24D  Treatment   NaN  Desulfovibrionaceae   0.000000         NaN

     X.SampleID  Time.1  Treatment.1 Species.1  Abundance.1
1330        NaN     NaN          NaN       NaN          NaN
1331        NaN     NaN          NaN       NaN          NaN
1332        NaN     NaN          NaN       NaN          NaN
1333        NaN     NaN          NaN       NaN          NaN
1334        NaN     NaN          NaN       NaN          NaN

MAKE species= the values in column 'Species'

In [17]:
species = data["Species"]
print(species)

0             Lactobacillus
1             Lactobacillus
2             Lactobacillus
3             Lactobacillus
4             Lactobacillus
               ...
1330    Desulfovibrionaceae
1331    Desulfovibrionaceae
1332    Desulfovibrionaceae
1333    Desulfovibrionaceae
1334    Desulfovibrionaceae
Name: Species, Length: 1335, dtype: object

Use the describe function

In [20]:
describedf = data.describe()
describedf

,Time,Abundance,Unnamed: 5,Time.1,Treatment.1,Abundance.1
count,1068.000000,1335.000000,0.0,1068.000000,1068.000000,1068.000000
mean,1.505618,0.011190,NaN,1.505618,1.516854,218.326779
std,1.133525,0.024425,NaN,1.133525,0.499950,448.925723
min,0.000000,0.000000,NaN,0.000000,1.000000,0.000000
25%,0.000000,0.000072,NaN,0.000000,1.000000,5.000000
50%,2.000000,0.001127,NaN,2.000000,2.000000,28.000000
75%,3.000000,0.007133,NaN,3.000000,2.000000,200.000000
max,3.000000,0.206322,NaN,3.000000,2.000000,4317.000000

Print the sums, var, and std for data

Make a new dataframe that only includes SampleID and Species.
Make a second dataframe that only includes only Abundance.
Make a third dataframe that merges the other two.

In [21]:
IDandSpp = data[["SampleID","Species"]]
Abundance = data["Abundance"]

In [24]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#concat
frame = [IDandSpp,Abundance]
mergeddf = pd.concat(frame)
mergeddf

     SampleID        Species  Abundance
0       CC01A  Lactobacillus        NaN
1       CC01B  Lactobacillus        NaN
2       CC01C  Lactobacillus        NaN
3       CC01D  Lactobacillus        NaN
4       CC02A  Lactobacillus        NaN
...       ...            ...        ...
1330      NaN            NaN   0.000000
1331      NaN            NaN   0.000000
1332      NaN            NaN   0.000203
1333      NaN            NaN   0.000063
1334      NaN            NaN   0.000000

[2670 rows x 3 columns]