# In class practice with Pandas & Scipy Libraries

Import the libraries

In [1]:
import os

In [2]:
import pandas as pd

In [3]:
from scipy import stats

In [6]:
import re

hello world

## Working with pandas

How to importa a tab-delimited text data file. The file is in the same directory at the jupyter notebook.

In [4]:
data=pd.read_csv('hist_taxa_treat.txt', sep='\t', index_col=False, low_memory=False)

How to use pandas to assign data from the dataset to a variable.

In [5]:
lacto=data.loc[(data['Species']=='Lactobacillus')]
x=lacto['Abundance']
print('lactos')
print(x)

lactos
0     0.063575
1     0.030630
2     0.026108
3     0.058233
4     0.092633
        ...
84    0.003580
85    0.016010
86    0.044609
87    0.007296
88    0.003000
Name: Abundance, Length: 89, dtype: float64

In [7]:
para=data.loc[(data['Species']=='Parabacteroides')]
#print(para)
y=para['Abundance']
print('paras')
print(y)

paras
89     0.0
90     1.0
91     2.0
92     3.0
93     0.0
      ...
173    2.0
174    3.0
175    0.0
176    1.0
177    3.0
Name: Time, Length: 89, dtype: float64

## Working with Scipy statistic methods

In [6]:
tt_out=stats.ttest_ind(x,y)
print(tt_out)

Ttest_indResult(statistic=7.288016524628965, pvalue=1.0200357215755368e-11)

## Exercises

PRINT HEAD AND TAIL OF data

MAKE species= the values in column 'Species'

Use the describe function

Print the sums, var, and std for data

Make a new dataframe that only includes SampleID and Species.
Make a second dataframe that only includes only Abundance.
Make a third dataframe that merges the other two.

In [6]:
data.head()

,SampleID,Treatment,Time,Species,Abundance,Unnamed: 5,X.SampleID,Time.1,Treatment.1,Species.1,Abundance.1
0,CC01A,Control,0.0,Lactobacillus,0.063575,NaN,CC01A,0.0,1.0,Lactobacillus,1430.0
1,CC01B,Control,1.0,Lactobacillus,0.030630,NaN,CC01B,1.0,1.0,Lactobacillus,379.0
2,CC01C,Control,2.0,Lactobacillus,0.026108,NaN,CC01C,2.0,1.0,Lactobacillus,386.0
3,CC01D,Control,3.0,Lactobacillus,0.058233,NaN,CC01D,3.0,1.0,Lactobacillus,1193.0
4,CC02A,Control,0.0,Lactobacillus,0.092633,NaN,CC02A,0.0,1.0,Lactobacillus,2455.0